*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
::selection {
    background: #5100ad;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    background: #2b004e;
}
::-webkit-scrollbar-thumb {
    background: #7700ff;
    border-radius: 20px;
    border-bottom: #380079 2px solid;
}

body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: #0c0c0c;
    color: #fff;
    border-bottom: #7700ff 2px solid;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0px 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover{
    color: #7700ff;
}
.curriculo-btn button{
    border: none;
    background: #5100ad;
    padding: 10px 15px;
    border-radius: 0 10px 0 10px;
    transition: all 0.3s ease-in-out;
}
.curriculo-btn button:hover{
    background: #7700ff;
    border-radius: 10px 0 10px 0;
}
.curriculo-btn button a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu {
    display: none;
}

#inicio{
    display: flex;
    align-items: center;
    height: 100vh;
    padding-bottom: 9.5%;
}
#inicio img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #7700ff 6px solid;
    margin-top: 100px;
    animation: fadeIn 2s ease-in-out; /* Animation */
}
#inicio img:hover{
    box-shadow: #7700ff 0 0 10px;
}
#inicio h1{
    font-size: 80px;
    color: #7700ff;
    margin-top: 30px;
    text-transform: uppercase;
    animation: fadeIn 2s ease-in-out; /* Animation */
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
#inicio h3{
    font-size: 10px;
    color: #fff;
    margin-top: -15px;
    text-transform: uppercase;
    position: absolute;
    margin-left: 10px;
    animation: fadeIn 2s ease-in-out; /* Animation */
}
#inicio span{
    color: #ff0;
    font-size: 12px;
    
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #0c0c0c;
}
#sobre h2{
    font-size: 40px;
    color: #7700ff;
    margin-top: 30px;
    text-transform: uppercase;
}
#sobre hr{
    width: 12%;
    border: #7700ff 2px solid;
    margin-top: 10px;
}
#sobre p{
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;
}
#sobre span{
    font-size: 20px;
    color: #ba7dff;
    margin-top: 30px;
    text-align: center;
}
#portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #0c0c0c;
}
#portifolio h2{
    font-size: 40px;
    color: #7700ff;
    text-transform: uppercase;
}
.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.portfolio-container img{
    border: #7700ff 2px solid;
    margin-top: 30px;
    width: 500px;
    height: auto;
}
.portfolio-item h3{
    color: #7700ff;
    text-transform: uppercase;
}
.portfolio-item h3 a{
    font-size: 18px;
    color: #7700ff;
    text-decoration: none;
}
.portfolio-item p{
    color: #fff;
    text-align: left;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #0c0c0c;
    border-bottom: #7700ff 2px solid;
}
#contato h2{
    font-size: 40px;
    color: #7700ff;
    text-transform: uppercase;
    margin-left: 4%;
    margin-top: 20px;
}
#contato hr{
    width: 200px;
    border: #7700ff 2px solid;
    margin-bottom: 50px;
}
#contato label{
    margin-left: -10%;
    color: #fff;
    font-size: 20px;
}
#contato input{
    width: 255px;
    height: 40px;
    background: #0c0c0c;
    border: #7700ff 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: -10%;
    padding: 5px;
    color: #fff;
}
#contato input:focus{
    outline: none;
}
#contato textarea:focus{
    outline: none;
}
#contato textarea{
    width: 250px;
    height: 100px;
    padding: 5px;
    background: #0c0c0c;
    border: #7700ff 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: -10%;
    color: #fff;
}
#contato button{
    width: 249px;
    height: 40px;
    background: #7700ff;
    border: #7700ff 2px solid;
    border-radius: 5px;
    border-bottom: #380079 5px solid;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: -8%;
    margin-bottom: 50px;
    transition: border-bottom 0.3s ease-in-out;
}
#contato button:hover{
    border-bottom: #5100ad 1px solid;
}

footer{
    text-align: center;
    background-color: #0c0c0c;
    color: #fff;
    padding: 40px;
}
footer a{
    color: #7700ff;
    text-decoration: none;
    font-weight: bold;
}
footer span{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}


@media screen and (max-width: 999px){
    .nav-bar{
        padding: 1.5rem;
    }
    .nav-item {
        display: none;
    }
    .curriculo-btn{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .curriculo-btn{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .curriculo-btn button{
        width: 100%;
    }
    .open{
        display: block;
    }

    .portfolio-container img{
        width: 300px;
        height: auto;
    }
    .portfolio-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
